* {
    text-align: center;
    border-collapse: collapse;
    margin: 0 auto;
    padding: 0;
    font-family: Century, Arial, sans-serif;
    color: white;
    text-align: center;
}

html {
    padding-top: 111.2px;
    background-color: #333;
}




/**header**/
header, header *{
    background-color: #333;   
}
.header{
    width: 100%;
    position: fixed;
    margin-top: -111.2px;
}


/**Primera sección**/
.header__section{
    display: block;
    padding: 5px;
}
.header__section #caballero{
    background-color: #333;
    display: inline;
    width: 3rem;
    height: 4rem;
}
.header__section #sol{
    background-color: #333;
    display: inline;
    width: 2rem;
    height: 2rem;
}


/**Segunda nav**/
.header__nav__link:hover {
    background-color: rgb(100,100,100);
}
.header__nav::-webkit-scrollbar {
    width: 95%;
    height: 10px;
    border-radius: 5px;
    background-color: rgb(63, 176, 213);
}
.header__nav::-webkit-scrollbar-thumb {
    background-color:  rgb(78, 78, 248);
    border-radius: 5px;
}
/**Celular**/
@media (max-width: 767px) {
    .header__nav{
        display: flex;
        overflow-x: scroll;
        justify-content: flex-start;
        padding-bottom: 10px;
    }
    .header__nav__link{
        position: relative;
        display: inline;
        min-width: 120px;
        background-color: rgb(74, 74, 74);
        color: rgb(78, 78, 248);    
        border: 3px solid #444;
        min-width: 20%;
        margin: 0 2%;
    }
    .header{
        margin-top: -120.8px;
    }
    html {
        background-color: #333;
        padding-top: 120.8px;
    }

}
/**Tablet**/
@media (min-width: 768px) and (max-width: 990px) {
    .header__nav{
        display: flex;
        justify-content: space-evenly;
        padding-bottom: 10px;
    }
    .header__nav__link{
        position: relative;
        display: inline;
        min-width: 120px;
        background-color: rgb(74, 74, 74);
        color: rgb(78, 78, 248);    
        border: 3px solid #444;
        min-width: 15%;
    }
}
/**PC**/
@media (min-width: 991px) {
    .header__nav{
        display: flex;
        justify-content: space-evenly;
        padding-bottom: 10px;
    }
    .header__nav__link{
        position: relative;
        display: inline;
        min-width: 120px;
        background-color: rgb(74, 74, 74);
        color: rgb(78, 78, 248);    
        border: 3px solid #444;
        min-width: 15%;
    }
}





/**main**/
main {
    background-color: black;
}


/**Primera sección**/
.main__header__betta-logo {
    width: 100%;
    height: 100%;
}
.main__header__p{
    display: inline;
    position: absolute;
    margin: 0;
    padding: 0;
}


/**Segunda sección**/
.bettas__section {
    display: block;
}
.bettas__section__div{
    display: inline-block;    
    background-color: rgb(74, 74, 74);
    margin: 5rem 6rem 0 0;
    width: 20%;
    height: 100%;    
}
.bettas__section__div__img {
    width: 100%;
    height: 100%;
    display: flex;
}




/**Celular**/
@media (max-width: 767px) {
    .main__header__p{
        font-size: 1rem;
        top: 15rem;
        left: 5rem;
    }
}


/**Tablet**/
@media (min-width: 768px) and (max-width: 990px) {
    .main__header__p{
        font-size: 1rem;
        top: 15rem;
        left: 5rem;
    }
}


/**PC**/
@media (min-width: 991px) {
    .main__header__p{
        font-size: 1rem;
        top: 15rem;
        left: 5rem;
    }
}




/**Main**/
main{
    background-color: #333;
}


/**Primera section**/
.header__small-section__img{
    width: 100vw;
}
.header__small-section__a{
    display: block;
    width: 100vw;
    background-color: #444;
}


/**Segunda section**/ 
.header__main__section{
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
}
.header__main__section__div{
    background-color: #444;
    width: 40vw;
    min-width: 400px;
    margin-top: 20px;
}
.header__main__section__div__img{
    width: 100%;
    height: 400px;
}


/**Tercera section**/
.main__section{
    display: block;
    background-color: #444;
    margin: 15px 45px 45px 45px;
}
.main__section__h1{
    background-color: #48e;

}
.main__section__p{
    margin: 15px 45px 45px 45px;
}




/**footer**/
.footer *{
    background-color: #48e;
    color: black;
}
.footer {
    background-color: #48e;
    padding-top: 1rem;
    display: inline-block;
    width: 100%;
    padding-bottom: 1rem;
}


/**Primera sección**/
.footer__nav__p {
    display: inline;
}
.footer__nav__a {
    border: 3px solid gray;
    text-decoration: none;
}
